<!DOCTYPE html>
<html>
<head>
    <title>Vuejs demo 2</title>
    <script type="text/javascript" src="scripts/vue.js"></script>
</head>
<body>
<div id="app">
    <dfis-select></dfis-select>
    <dfis-editor></dfis-editor>
    <simple-counter></simple-counter>
    <simple-counter></simple-counter>
    <simple-counter></simple-counter>
    <child message="hello"></child>
    <input v-model="parentMsg">
    <child v-bind:message="parentMsg"></child>
    <example prop-c="benjamin"></example>
    <div>Click counter: {{total}}</div>
    <button-counter v-on:increment="incrementTotal"></button-counter>
    <button-counter v-on:increment="incrementTotal"></button-counter>
    <currency-input v-model="amount"></currency-input>
</div>
</body>

<script type="text/javascript" src="js/component.js"></script>
</html>